{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-lg-9">
      
      <h1>Appointment Reminders with Django</h1>

      <p>This demo application will show you how to implement SMS appointment reminders with <a href="http://twilio.com">Twilio</a> in Django.

      <p><a class="btn btn-primary btn-xs" href="{% url 'new_appointment' %}">Create a new Appointment</a> to see how it works!</p>

    </div>

  </div><!--/row-->
{% endblock %}
